* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}
.body {
    width: 100vw;
}

.heading {
    display: flex;
    padding: 5%;
    flex-wrap: wrap;
    justify-content: center;
}

.main-info {
    position: relative;
    width: 40%;
    min-width: 300px;
    margin-right: 30px;
}

.main-img {
    width: 50%;
    min-width: 300px;
}

.main-img img {
    width: 100%;
    transform: translateY(70px);
}

h1 {
    font-size: 3em;
    padding-bottom: 20px;
    color: black;
    background: -webkit-linear-gradient(#59538fc2, #3b3766c2 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

p.main-desc {
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
    margin-bottom: 10px;
}
span {
    font-size: 1em;
    font-weight: 700;
    color: #474b86;
}

.square {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: #6c63ff;
    opacity: 0.1;
    z-index: -1;
}

.s1 {
    top: 40px;
    left: 500px;
    transform: rotateZ(73deg);
}
.s2 {
    top: 350px;
    left: 300px;
    width: 60px;
    height: 60px;
    opacity: 0.1;
    transform: rotateZ(30deg);
}

.cards {
    width: 80%;
    margin: auto;

    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}
.card {
    width: 300px;
    border: 1px solid rgb(212, 211, 211);
    background-color: #ededfc;
    background: linear-gradient(to top, #dddceec2, #524ba1c2 100%);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 15px 0px rgba(63, 63, 63, 0.432);
    margin-bottom: 20px;
    margin: 10px;
    transition: 0.4s ease;
}
.card:hover {
    transform: scale(1.05);
}
.card img {
    width: 300px;
}

.card .title {
    text-align: center;
    margin: 5px;
    font-size: 1.3em;
}

.card p.desc {
    margin: 10px;
    font-size: 16px;
    text-align: center;
}

.languages {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(128, 128, 128, 0.473);
    border-bottom: 1px solid rgba(128, 128, 128, 0.473);
    padding-top: 10px;
    padding-bottom: 10px;
}

.languages div.img {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
    justify-content: center;
}
.languages div.img img {
    margin: 5px;
}

div.img img {
    width: 30px;
    cursor: help;
}

div.img img.nodejs {
    width: 60px;
    height: 34.05px;
}
div.img img.express {
    width: 30px;
}
.card .info {
    margin: 10px;
    font-size: 16px;
}
.purpose,
.responsive {
    margin-bottom: 5px;
}
.purpose p,
.responsive p {
    margin-bottom: 5px;
    font-size: 16px;
}
.purpose p {
    min-height: 80px;
}

.project-direct {
    margin: auto;
    margin-bottom: 15px;
    width: 50%;
    height: 30px;
    background-color: #c8c4f5c2;
    background: linear-gradient(to right, #c8c4f5c2, #6963acc2 100%);
    display: block;
    border-radius: 50px;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #474b86;
    box-shadow: 0px 2px 5px 0px rgba(63, 63, 63, 0.432);
}

section.about {
    width: 100%;
    padding: 20px;
    background: linear-gradient(to right, #c8c4f5c2, #6963acc2 100%);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;

    padding-top: 50px;
    clip-path: polygon(0 calc(5% + 1vw), 100% 0, 100% 100%, 0% 100%);
}

.personal-img {
    max-width: 200px;
    max-height: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.personal-img img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 50%;
    border: 5px solid #6167af;
}

.about .about-me {
    width: 60%;
    margin-left: 10px;
}
.about-brief {
    border-bottom: 1px solid rgba(128, 128, 128, 0.473);
}
.about-brief p {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: justify;
}

.section {
    display: flex;
    margin-top: 10px;
}
.section img {
    width: 30px;
    margin-right: 10px;
    opacity: 0.8;
}

.section p,
.section p a {
    line-height: 30px;
    font-weight: 700;
    font-size: 15px;
}
