/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* ---- Base Rules ---- */
html {
    scroll-behavior: smooth;
}
body {
    background: rgb(136, 203, 171);
    background: linear-gradient(0deg, rgba(136, 203, 171, 1) 0%, rgba(0, 13, 60, 1) 100%);
    margin: 0;
    font-family: "Merriweather", serif;
    color: #fff;
}

/* Typeography General*/
h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: "Oxygen", Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
}

.main-hero {
    min-height: 40vh;
    padding-top: 3em;
}

section {
    position: relative;
    min-height: 80vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
}
nav.navbar_menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
#add_button {
    position: relative;
    width: 80%;
    height: 30px;
    margin-top: 1%;
    /*   margin-bottom: 2%; */
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 20px;
    background-color: rgb(86, 101, 156);
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
#add_button:hover {
    cursor: pointer;
    background-color: rgb(134, 151, 212);
}
.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
    cursor: pointer;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}
/* POP UP Styles */
.form_div {
    position: fixed;
    width: 60vh;
    height: 50vh;
    box-sizing: border-box;
    background-color: rgb(86, 101, 156);
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 10;
    border-radius: 20px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    font-family: "Oxygen", Sans-Serif;
    font-size: 20px;
    display: none;
}
.form_div.shown {
    display: block;
    animation-name: popup;
    animation-duration: 0.5s;
}
@keyframes popup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.form-element {
    position: relative;
    background-color: rgb(134, 151, 212);
    border: none;
    font-size: 14px;
}
.form-heading {
    text-align: center;
    font-size: 1.5em;
}
.form-label,
.form-element {
    display: block;
    margin: auto;
    width: 90%;
}
.form-element {
    margin-bottom: 3%;
}
.popup-comment {
    position: absolute;
    font-size: 14px;
    bottom: 28px;
    left: 20px;
}
.form-button {
    margin: auto;
    margin-top: 5%;
    width: 30%;
    height: 30px;
    display: block;
    background-color: rgb(208, 194, 240);
    cursor: pointer;
    color: rgb(77, 72, 72);
    font-size: 16px;
    font-weight: 700;
    border: none;
}
.close_popup {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 700;
    color: rgb(86, 101, 156);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}
.to_top {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    right: 3%;
    bottom: 50px;
    transform: rotateZ(-90deg);
    color: rgb(86, 101, 156);
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding-top: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
.to_top:hover {
    cursor: pointer;
}
/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}

.page__footer p {
    color: #fff;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: "";
    background: rgba(255, 255, 255, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: "";
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
.your-active-class .menu__link {
    background: rgb(134, 151, 212);
    color: rgb(255, 255, 255);
}

section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
    from {
        transform: rotate(0deg) translate(-1em) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(-1em) rotate(-360deg);
    }
}
@media only screen and (max-width: 320px) {
    .form_div {
        max-width: 40vh;
        height: 60vh;
    }
}
